extends layout

block content
    h3 User Profile
    h1= user.name
    h3 ID: #{user.id}
    ul
        for u, l in results
            li
                a(href="/users/" + l) #{list[l].name} | Depth: #{u}
